#left_nav{
    /* border: 2px solid var(--text-color); */


    background-color: var(--background-color);
    color: var(--text-color);
    width: 85px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}

.shape {
    color: white;
    font-size : 50px;
    width:100%;
    height: 100%;
}

#nav_close_ul{
    top: 70px;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    padding : 0 10px;
}

#nav_close_ul li button{
   width: 100%;
   height: 70px;
}

#nav_close_ul li button:hover{
    box-shadow: inset 0 0 8px 5px rgba(255, 255, 255, 0.158);
    transform: translateZ(150px) scale(1.2);
   /* width: calc(100% + 10px); */

}

#nav_close_ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;
}