#main_body{
    width: calc(100vw - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    row-gap: 15px; 
    margin: 10px 0 0 10px;

    overflow-y: auto;
    
}