.left_nav {
  /* border: 2px solid var(--text-color); */

  background-color: var(--background-color);
  color: var(--text-color);
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.shape {
  /* border: 2px solid var(--text-color); */

  color: white;
  width: 16%;
  height: 100%;
  margin-right: 15px;
}

.nav_open_ul {
  /* border: 2px solid var(--text-color); */

  top: 70px;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  padding: 0 8px;

  overflow-y: scroll;
}

.nav_open_ul li button {
  /* border: 2px solid var(--text-color); */

  width: 100%;
  height: 45px;
  display: flex;
}

.nav_open_ul li button:hover {
  box-shadow: inset 0 0 8px 5px rgba(255, 255, 255, 0.158);

  /* width: calc(100% + 10px); */
}

.nav_open_ul li {
  /* border: 2px solid var(--text-color); */

  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
}

.nav_open_ul li p {
  font-size: larger;
  color: white;
  /* margin: 0 0 0 10px; */
  padding-top: 3px;
}


