.f {
    position: absolute;
    top: 100%;
    left: 5px;

    background-color:rgb(19, 244, 252);
    width: 98%;
    overflow-y: scroll;
    margin-top: 5px;
    z-index: 2000;

    border: 1px solid white;
    border-radius: 21px;
    height: 300px;

    box-shadow: 0 4px 10px rgba(87, 33, 33, 0.4);
}