.uppar_nav {
    /* border: 2px solid var(--text-color); */

    z-index: 10;
    width: 100vw;
    height: 70px;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uppar_nav span {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 30%;
}

.uppar_nav div{
    display: flex;
    background-color:var(--background-color);
}


.nav_justify {
    z-index: 5;
    border-radius: 50%;

    margin-top: 5px;
    padding: 0;
    width: 42px;
    height: 42px;
    color: white;
}

.nav_justify:hover {
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.158);
}


.nav_logo{
    margin-left: 10px;
    margin-right: 2px;
    width: 40px;
    height: 50px;
    color: red;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.uppar_nav div div a{
    color: var(--text-color);
    font-size: xx-large;
}



.search_nav {
    background-color: transparent;

    width: 100%;
    height: 100%;
    /* padding-top: 300px; */
    position: relative;
}

.search_nav input{
    background-color: transparent;
    border-radius: 50px 0px 0px 50px;
    border-width: 1px 0px 1px 1px ;
    margin-right: 0;
    padding-right: 0;
}

.search_nav input:focus {
    background-color: transparent;
    color: var(--text-color);
    border-color: white;
    box-shadow: none;
    
}


.search_nav button{
    border-radius: 0 50px 50px 0 ;
    width: 100px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.right_nav_div {
    margin-right: 60px;
    display: flex;
    gap: 20px;
}

.right_nav_div button {
    border-radius: 50px;
}


.left_nav_div {
    display: flex;
    margin-left: 25px;
}

.left_nav_div p {
    color: var(--text-color);
    padding-top: 10px;
    cursor: pointer;
    padding-top: 7px;
    font-size:x-large;
}

.notification_button{
    color:white;
    font-weight:bolder;
    font-size: xx-large;
    border-radius: 50%;
}

.effect:hover {
    
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.158);
    transform: translateZ(150px) scale(1.2);
}