* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scrollbar-width: none;
    
}

:root {
    --primary-color: #c40505;
    --secondary-color: #290707;
    --background-color: #212529;
    --text-color: #f8f9fa;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

#body {
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
}

.content div {
    height: 100%;
    max-width: calc(var(--ytd-rich-grid-content-max-width) + var(--ytd-rich-grid-item-margin) + var(--ytd-rich-grid-gutter-margin) * 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}