* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scrollbar-width: none;
    
}

:root {
    --primary-color: #c40505;
    --secondary-color: #290707;
    --background-color: #212529;
    --text-color: #f8f9fa;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}



.content {
    display: flex;
    flex: 1;
    overflow: hidden;
}