.subscriptions {
  list-style-type: none;
  padding-left: 0;
  height: 210px;
  overflow-y: hidden;
}
.subscriptions li button p {
  overflow-y: hidden;
  height: 38px ;
  width:max-content;
  
}
.nav_sub_profileImg_ico {
  height: 32px;
  width: 32px;
  border-radius: 20px;
  /* padding-left: ; */
}

.sectionName_astext {
  padding-left: 10px;
  cursor: text;
  margin: 0 0 14px 20px;

}

.set_alingment {
  padding: 5px 0 0px 65px;
}


.nav_open_ul_section {

  background-color: var(--background-color);
  width: 100%;
  padding: 0;
} 

 /* .btn1 {
  
    --bs-btn-line-height: 1.5;

    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    
    
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */

.btn1 {
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      background-color: transparent;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      border:  none ;
      border-radius: 5px;
      user-select: none;
      padding-left: 15px;
      padding-top: 7px;
}

.btn1 p {
  margin: 0 0 0 10px;
}